*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* outline: solid 1px #f00; */
  font-family: sans-serif;
  user-select: none;
  touch-action: none;
}
:root {
  --color: #ffffff;
  --color-b: #ffffff;
  --cursor-x: 0;
  --cursor-y: 0;
  --color-picker-radius: 0;
  --cursor-bx: 0px;
  --main-selecter-radius: 25px;
  --bright-selecter-w: 8px;
  --brightness-picker-height: 0;
  --pad: 20px;
  --gap: 20px;
  --bright-selector-w: 30px;
}
::selection{
  background: var(--color);
}

::-moz-selection{
  background: var(--color);
}
body {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.background {
  background: #222222;
  background-image: linear-gradient(45deg, #181818, transparent),
    linear-gradient(-45deg, #181818, transparent),
    linear-gradient(45deg, transparent, #181818),
    linear-gradient(-45deg, transparent, #181818);
  background-size: 4px 4px;
  background-position: 0 0, 2px 0, 2px -2px, 0px 2px;
}
#me {
  position: relative;
  height: 40px; 
  width: 100%;
  padding-right: 10px;
  padding-top: 10px;
  text-align: right;
  font-family: Arial, Helvetica, sans-serif;
  color: #ffffff;
}
canvas {
  background: #cccccc;
  background-image: linear-gradient(45deg, #aaaaaa 25%, transparent 25%),
    linear-gradient(-45deg, #aaaaaa 25%, transparent 25%),
    linear-gradient(45deg, transparent 75%, #aaaaaa 75%),
    linear-gradient(-45deg, transparent 75%, #aaaaaa 75%);
  background-size: 8px 8px;
  background-position: 0 0, 4px 0, 4px -4px, 0px 4px;
}
main {
  position: relative;
  width: 100%;
  height: 100%;
  gap: var(--gap);
  display: grid;
  place-items: center;
  grid-template-rows: calc(var(--color-picker-radius) + 18px) var(--brightness-picker-height)  200px;
  overflow: hidden;
}
main #main-picker {
  position: relative;
  width: var(--color-picker-radius);
  height: var(--color-picker-radius);
  display: grid;
  place-items: center;
  border-radius: 300px;
}
main #main-picker canvas {
  border-radius: 100%;
  outline: solid 2px #ffffff;
  box-shadow: 0 0 3px #000000, 0 0 7px #000000, 0 0 15px #000000;
}

main #brightness-picker {
  position: relative;
  width: var(--color-picker-radius);
  height: var(--brightness-picker-height);
  border-radius: 5px;
}
main #brightness-picker canvas {
  border-radius: 5px;
  outline: solid 2px #ffffff;
  box-shadow: 0 0 3px #000000, 0 0 7px #000000;
}
main #main-picker::before,
main #brightness-picker::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 120%;
  top: -10%;
  z-index: 10;
}
main #main-picker::before {
  height: 106%;
  width: 106%;
  left: -3%;
  top: -3%;
}
#main-selecter {
  position: absolute;
  width: var(--main-selecter-radius);
  height: var(--main-selecter-radius);
  left: calc(var(--cursor-x) - var(--main-selecter-radius) / 2);
  top: calc(var(--cursor-y) - var(--main-selecter-radius) / 2);
  border: solid 2px #ffffff;
  background: var(--color);
  outline: solid 2px #00000066;
  border-radius: 100%;
}
#brithtness-selecter {
  position: absolute;
  width: 15px;
  height: 140%;
  border-radius: 3px;
  top: -20%;
  left: calc(var(--cursor-bx) - var(--bright-selecter-w) / 2);
  border: solid 2px #ffffff;
  background: var(--color-b);
  outline: solid 2px #00000066;
  z-index: 2;
}
main #color-output-box {
  position: relative;
  width: 340px;
  height: 200px;
  border-radius: 12px;
  outline: solid 5px #222222;
  box-shadow: 0 0 3px #000000, 0 0 7px #000000, inset 0 0 3px #000000;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 2fr 2fr 2fr;
  background: var(--color);
}
.color-output {
  position: relative;
  margin: 5px;
  box-shadow: inset 0 0 2px #000000, 1px 1px 3px #000000;
  border-radius: 10px;
  display: grid;
  grid-template-rows: 3fr 5fr;
  grid-template-areas: 'nm nm nm cpy'
                       'in in in in';
}
.color-name {
  position: relative;
  grid-area: nm;
  color: #ffffff;
  font-size: 0.7rem;
  font-family: cursive;
  display: flex;
  align-items: center;
  padding-left: 8px;
}
.input {
  position: relative;
  margin: 5px;
  margin-top: 2px;
  grid-area: in;
}
#hex-input {
  letter-spacing: 2px;
}
input {
  position: absolute;
  width: 100%;
  height: 100%;
  background: transparent;
  outline: none;
  border-radius: 6px;
  border: none;
  font-weight: 500;
  font-size: 16px;
  padding: 1px 6px;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  box-shadow: inset 1px 1px 2px #000000, inset -1px -1px 2px #282828;
  background: #181818;
  color: #ffffff;
  caret-color: var(--color);
}
.copy-icon {
  position: relative;
  width: 100%;
  height: 100%;
  grid-area: cpy;
}


/* main section #color-box { */
/* position: relative; */
/* width: 100%; */
/* height: 100%; */
/* display: grid; */
/* gap: var(--gap); */
/* grid-template-columns: var(--color-picker-radius) var(--bright-selector-w); */
/* } */
/* #color-picker, */
/* #color-choice, */
/* #copy-color-section { */
/* position: relative; */
/* height: var(--color-picker-radius); */
/* } */
/* #choice-bright { */
/* position: relative; */
/* width: 100%; */
/* height: 100%; */
/* outline: outset 3px #000000; */
/* box-shadow: 0 0 3px #000000; */
/* border-radius: 3px; */
/* overflow: hidden; */
/* } */
/* #color-pick { */
/* position: relative; */
/* width: 100%; */
/* height: var(--color-picker-radius); */
/* border-radius: 100%; */
/* display: grid; */
/* place-items: center; */
/* overflow: hidden; */
/* outline: outset 3px #000000; */
/* box-shadow: 0 0 3px #000000; */
/* } */
/* #color-pick::before, */
/* #choice-bright::before { */
/* position: absolute; */
/* content: ""; */
/* cursor: pointer; */
/* width: 100%; */
/* height: 100%; */
/* z-index: 100; */
/* } */
/*  */
/* #choice-bright::before { */
/* width: 120%; */
/* left: -10%; */
/* } */
/* #brithtness-selecter { */
/* position: absolute; */
/* width: 120%; */
/* height: var(--bright-selecter-w); */
/* border-radius: 3px; */
/* left: -10%; */
/* top: calc(var(--cursor-bx) - var(--bright-selecter-w) / 2); */
/* outline: solid 2px #ffffff; */
/* background: var(--color-b); */
/* box-shadow: 0 0 1px #000000, 0 0 3px #000000; */
/* z-index: 2; */
/* } */
/* #main-selecter { */
/* position: absolute; */
/* width: var(--main-selecter-radius); */
/* height: var(--main-selecter-radius); */
/* left: calc(var(--cursor-x) - var(--main-selecter-radius) / 2); */
/* top: calc(var(--cursor-y) - var(--main-selecter-radius) / 2); */
/* border: solid 2px #ffffff; */
/* background: var(--color); */
/* box-shadow: 0 0 1px #000000, 0 0 3px #000000; */
/* border-radius: 100%; */
/* } */
/* #color-names { */
/* position: relative; */
/* position: relative; */
/* inset: 4px; */
/* width: calc(100% - 8px); */
/* height: calc(100% - 8px); */
/* border-radius: 3px; */
/* overflow: hidden; */
/* background: #ffffff; */
/* display: grid; */
/* transform: scale(0.3); */
/* grid-template-columns: 10fr 3fr 13fr; */
/* place-items: center; */
/* } */
#hex-color-code,
#rgb-color-code {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  background: transparent;
  justify-content: center;
  text-shadow: 1px 1px 2px #000000;
  align-items: center;
  cursor: grab;
}
#hex-color-code.copy,
#rgb-color-code.copy {
  cursor: grabbing;
}
#hex-color-code span {
  display: flex;
  padding: 3px 8px;
}
#hex-color-code.copy span {
  background: #16b1b1;
}
#span #rgb-color-code {
  padding: 3px 8px;
}
#hex-color-code b {
  color: var(--color);
  padding-right: 2px;
}
#hex-color-code.copy b {
  color: #ffffff;
}
#hex-color-code p {
  font-weight: bold;
}
#hex-color-code.copy p {
  color: #ffffff;
}
#rgb-color-code b {
  padding-right: 2px;
}
#rgb-color-code.copy b {
  color: #ffffff;
}
#rgb-color-code p {
  font-weight: bold;
  color: var(--color);
}
#rgb-color-code.copy p {
  color: #ffffff;
}
#rgb-color-code.copy {
  background: #16b1b1;
}
#show-color {
  position: relative;
  width: 100%;
  height: calc(100% - 10px);
  background: var(--color);
  box-shadow: 0 0 3px #000000;
  border-radius: 5px;
}
#tost {
  position: absolute;
  z-index: 100;
  bottom: -50px;
  width: 200px;
  height: 40px;
  background: #ffffff;
  left: calc(50% - 100px);
  display: grid;
  place-items: center;
  font-weight: bold;
  font-weight: 900;
  border-radius: 10px;
  box-shadow: 0 0 3px #000, 0 0 10px #000000;
  border: solid 1px #ff0000;
  text-shadow: 0 0 1px #0000;
  opacity: 0;
  transition: opacity linear 0.3s;
  user-select: none;
  touch-action: none;
}
#tost.active {
  opacity: 1;
  transition: opacity linear 1s;
}

nn {
  background-color: hwb(233 16% 78%);
}
